<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div>
      <h2>Marked NPM Package</h2>
      <form id="marked-form" action="/marked" method="POST">
        <textarea name="mdInput" rows="5" cols="50">[I](#) am using __markdown__.</textarea>
        <button type="submit">Convert to HTML</button>
      </form>
    </div>
    </br></br>

    <div>
      <h1>Output</h1>
      <textarea rows="5" cols="50"><%= output %></textarea>
    </div>

  </body>
</html>
