body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0079ff;
}

#fileOutput {
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

table, th, td {
  border: 0.25vh solid #111;
  padding: 1vh;
  margin: inherit;

}

img {
  max-width: 100%;
  min-width: auto;
}

ol, ul {
  width: fit-content;
  text-align: left;
  margin: inherit;
  list-style-type: none;

}

code {
  background-color: #84c0ff;
  border-radius: 0.5vh;
  padding: 0.5vh;
  color: blue;
}
